.my-btn{
    background-color: red;
    border-radius: 6px;
    color: white;
    padding: 30px;

}

.my-btn{
    background-color: green !important;
    border-radius: 6px;
    color: white;
    padding: 30px;

}

.my-btn{
    background-color: black;
    border-radius: 6px;
    color: white;
    padding: 30px;

}